@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  img {
    animation: scale 2s infinite ease-in-out;
  }

  @keyframes click {
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate {
    animation: click 0.2s;
  }

  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
  }
  
  .progress {
    width: 0;
    height: 20px;
    background-color: #4caf50;
  }